<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>component</title>
    <link rel="stylesheet" href="./common.css" >
    <script src="./vue.js"></script>
</head>
<body>

        
    <div id="component">
        <div class="block">
            <header>全局注册组件</header>
            <section class="content">
                <div class="h">
                    在上一章节的内容中，我们已经使用过组件的方式进行渲染,这里介绍全局的组件注册
                    Vue.component()的形式
                </div>
                <div class="detail">
                    这里我们还是引用上面已经创建的全局组件
                    <component-name></component-name>
                </div>
            </section>
        </div>

        <div class="block">
            <header>局部注册组件</header>
            <section class="content">
                <div class="h">
                    我们也可以通过Vue实例或者组件的实例选项components来注册仅在它的
                    作用域中使用的组件
                </div>
                <div class="detail">
                    这里我们创建的局部组件
                    <component-jubu></component-jubu>
                </div>
            </section>
        </div>

        <div class="block">
            <header>data必须是函数</header>
            <section class="content">
                <div class="h">
                    在构建实例的时候，实例中组件的大部分数据是在组件中初始化的，但是这里的数据源必须用
                    函数的形式，否则会报错，这是vue的规则，当然这也是有好处的，下面的例子中我们将会演示
                </div>
                <div class="detail">
                    <component-counter></component-counter>
                    <component-counter></component-counter>
                    <component-counter></component-counter>
                </div>
            </section>
        </div>

        <div class="block">
            <header>props的命名方式短线/驼峰</header>
            <section class="content">
                <div class="h">
                    当你使用的不是字符串模板的时候，驼峰命名的props要转内化成短线连接式的，否则不影响
                </div>
                <div class="detail">
                    <p>
                        案例场景：查询本班学生的成绩单，用户输入要查询用户的用户名称即可查询
                    </p>
                    <br/>
                    <ul class="student">
                        <li>2017年本班学生成绩查询(不透露学生的具体成绩)</li>
                        <li>
                            <br/>
                            <span>请输入学生姓名：</span>
                            <input type="text" @keyup="filterStudent" v-model="inputstudent">
                            <br/>
                        </li>
                        <li 
                            is="component-student"
                            v-for="(item, key, index) in getStudent"
                            :student-item="item"
                            class="student">
                        </li>
                        <li v-if="!!!getStudent.length">
                            <br/>
                            <p class="red">请在输入框中完全名字才可以查到成绩单</p>
                        </li>
                        <li class="green" v-else>
                            查询成功！
                        </li>
                    </ul>
                    <br/>
                    <p>
                        上面的案例中component-student的组件我们使用是非模板字符串所以在传props的时候我们要把驼峰命名的studentItem改成
                        短线命名的student-item；而在component-student组件中我们使用的component-grade组件是嵌入在component-student中的字符串模板
                        所以我们可以用驼峰的studentGrade作为props
                    </p>
                </div>
            </section>
        </div>

        <div class="block">
            <header>当我们如果想把对象整个作为props进行传递，那么我们可以省略bind后面的参数</header>
            <section class="content">
                <div class="h">
                    <p>这里这一个假设我们有对象todo为todo = { name: 'todo', isComplete: false }</p>
                    <p>那么我们可以这样做v-bind='todo',Vue会自动将对象中的属性作为props绑定在元素或组件上</p>
                    <p>
                        如：v-bind:name="todo.name"，v-bind:is-complete="todo.isComplete"
                    </p>
                </div>
                <div class="detail">
                   <component-todo v-bind="todo"></component-todo>
                </div>
                <br/>
                <p>
                    从上面的示例来看，我们的传递的props为整个对象，但是我们在组件中得到的还是分散的数据（vue是将对象中的属性传递
                    给我们，并不是整个对象）
                </p>
            </section>
        </div>

        <div class="block">
            <header>props的单向数据流</header>
            <section class="content">
                <div class="h">
                   <p>
                       单向数据流，在父级中数据变化的时候传递给子级中的每一个组件
                       这样做父级中的数据变化会及时的更新到子级的各个组件中；所以这样一来我们就不能随意的改变
                       父级中的数据（父级通过props传入的），以免导致数据流变得紊乱。
                       一般我们把props中的数据分成两种来看
                   </p>
                   <ul>
                       <li>
                           1.作为初始的数据传入，这样的数据一般可能也在初始化其他的组件，所以我们不能改变它的真实
                           值，所以只能拿他当做组件中的局部变量来使用，所以我们可以给组件新创建一个数据属性并用它进行初始化
                       </li>
                       <li>
                           2.另一种就是作为原始数据传入，为了及时在页面中渲染我们可以使用计算属性，这样我们既能处理自己想要的
                           数据格式也能及时和实时地响应到页面中
                       </li>
                   </ul>
                </div>
                <div class="detail">
                    这里我们不在做详细的案例介绍，官方文档中已经有很好的案例
                    <a href="https://cn.vuejs.org/v2/guide/components.html#单向数据流">传送门</a>
                </div>
                
            </section>
        </div>

        <div class="block">
            <header>props数据验证</header>
            <section class="content">
                <div class="h">
                   <p>
                        在组件实例未创建之前我们可以对props的数据进行验证，这时候我们要使用对象的形式而非字符串数组
                   </p>
                </div>
                <div class="detail">
                    <p>
                        由于验证是在组件实例创建之前进行就进行验证的所以默认值函数default和自定义验证函数validator中不能
                        使用组件中的data\computed\methods等属性
                    </p>
                    <a href="https://cn.vuejs.org/v2/guide/components.html#prop数据验证">传送门</a>
                </div>
            </section>
        </div>

        <div class="block">
            <header>非prop特性</header>
            <section class="content">
                <div class="h">
                   <p>
                        这里的非prop特性是：它可以直接传递个组件而不通过props,就像传统的元素特性一样，他会直接的添加在组件的
                        根节点上
                   </p>
                </div>
            </section>
        </div>

        <div class="block">
            <header>替换合并现有的特性</header>
            <section class="content">
                <div class="h">
                   <p>
                        对于大多数的特性来说，传递给组件的特性会覆盖组件自身定义的特性，这样会照成数据的遗失，
                        但是对于style和class特性vue可以将组件和自身的属性合并，这样对于开发者来说更加友好
                   </p>
                </div>
            </section>
        </div>

        <div class="block">
            <header>$on监听事件，$emit触发事件</header>
            <section class="content">
                <div class="h">
                   <p>
                      监听在父级，子级进行触发
                   </p>
                </div>
                <div class="detail">
                    <p>父级监听子组件的触发:{{ total }}</p>
                    <button-counter 
                        v-on:increme="couterTotal"></button-counter>
                    <button-counter 
                        v-on:increme="couterTotal"></button-counter>
                    <br/>
                    <p>
                        上面案例中父子组件之间完全解耦了，
                        子组件在处理自身业务逻辑的同时将父组件关心的事情（这里通过事件）
                        传递给父组件
                    </p>
                </div>
            </section>
        </div>

        <div class="block">
            <header>给组件绑定原生的事件</header>
            <section class="content">
                <div class="h">
                   <p>
                      通过给v-on添加.native给组件添加原生的事件
                   </p>
                </div>
                <div class="detail">
                    <component-nativeevent v-on:click.native="doYourSelf"></component-nativeevent>
                </div>
            </section>
        </div>

        <div class="block">
            <header>.sync语法（双向绑定）的使用</header>
            <section class="content">
                <div class="h">
                   <p>
                      .sync语法的使用在Vue1.x中就已经添加，但是后来因为其会修改父组件中的状态值所以在后来剔除了，但是在2.0中作者发现还是有其运用的价值所以又加上了
                   </p>
                </div>
                <div class="detail">
                    <component-nativeevent v-on:click.native="doYourSelf"></component-nativeevent>
                </div>
            </section>
        </div>

        <div class="block">
            <header>插槽solt</header>
            <section class="content">
                <div class="h">
                   <p>

                   </p>
                </div>
                <div class="detail">
                    
                </div>
            </section>
        </div>

        <div class="block">
            <header>动态组件</header>
            <section class="content">
                <div class="h">
                   <p>
                    我们巧用is属性来帮我们切换当前的组件
                   </p>
                </div>
                <div class="detail">
                    <select v-model="currentComponent">
                        <option value="component-counter">component-counter</option>
                        <option value="component-nativeevent">component-nativeevent</option>
                        <option value="component-name">component-name</option>
                    </select>
                    <component :is="currentComponent"></component>
                    
                    <br/>
                    <br/>
                    <div>
                        <p>使用keep-alive指令参数</p>
                        <p>当我们把切出去的组件保留在内存中，这样可以保留他的状态当我们切换回来的时候避免了重复的渲染，这样上面的我们可以这样写，只保留变动的部分</p>
                    </div>
                    <keep-alive>
                        <component :is="currentComponent"></component>
                    </keep-alive>
                </div>
            </section>
        </div>

        <div class="block">
            <header>Vue组件的api</header>
            <section class="content">
                <div class="h">
                    vue组件的API来自三个部分
                </div>
                <div class="detail">
                   <ul>
                       <li>prop</li>
                       <li>事件</li>
                       <li>插槽</li>
                   </ul>
                </div>
            </section>
        </div>

        <div class="block">
            <header>$ref的使用(子组件的引用)</header>
            <section class="content">
                <div class="h">
                    $ref允许父组件直接访问相应的子组件，将返回对应的子组件的实例
                </div>
                <div class="detail">
                   <component-ref ref="profile"></component-ref>
                   <button @click="getProfileRef('profile')">点击我看看能否获取profile实例</button>

                   <br/>

                   <button @click="getProfileRef('vfor')">和v-for一起使用</button>
                   <ul>
                       <li 
                            is="component-li"
                            ref="vfor"
                            v-for="(student, key) of students"
                            :student="student"></li>
                   </ul>
                   <p>我们可以看到控制台中打印的是一个数组包含循环数据源和一个对应的子组件</p>
                   <p>补充$refs是在组件完全渲染后才填充进去的，所以不要在模板或计算属性中使用它（官方将的是非响应式的估计和生命周期中的一些非响应式有关，这里在渲染完全后的methods方法中我们可以更新）</p>
                </div>
            </section>
        </div>



    </div>
    <script src="./components/BasicComponent.js"></script>
    <script>
        let data = {
            currentComponent: 'component-name',
            students: [
                {
                    name:'张烁',
                    grades: [80,30,70,95,50],
                    comment: '2018，继续加油！'
                },
                {
                    name:'王峰',
                    grades: [40,60,70,95,66],
                    comment: '2018，继续加油！'
                },
                {
                    name:'方世齐',
                    grades: [89,60,59,95,66],
                    comment: '2018，继续加油！'
                },
                {
                    name:'赵争',
                    grades: [89,60,69,95,66],
                    comment: '2018，继续加油！'
                }
            ],
            getStudent:[],
            inputstudent: '',
            todo: {
                name: 'zhangsan',
                isComplete: true
            },
            total: 0,
        };
        var app = new Vue({
            el: '#component',
            components: {
                'component-jubu': Jubu
            },
            data() {
                return data;
            },
            computed: {
                test: function() {
                    var profile = app.$refs[str];
                        console.log(profile);
                        console.log(profile.name);
                        profile.name = 'shuozhang'+Math.random();
                }
            },
            methods: {
                filterStudent: function() {
                    let _that = this;
                    this.getStudent = this.students.filter(function(v, index) {
                        return v.name==_that.inputstudent ? v : null;
                    });
                },
                couterTotal: function() {
                    this.total++;//父级监听情况
                },
                doYourSelf: function() {
                    alert('Do yourself!');
                },
                getProfileRef: function(str) {
                    if(str=='profile') {
                        var profile = app.$refs[str];
                        console.log(profile);
                        console.log(profile.name);
                        profile.name = 'shuozhang'+Math.random();//这里官网说他是非响应式的

                    }else{
                        var profile = app.$refs[str];
                        console.log(profile);
                    }
                    
                }
            },
        })
    </script>
</body>
</html>